@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


@keyframes buzzAnimation {
    0%{transform: translate(10px,0);}
    10%{transform: translate(-10px,0);}
    20%{transform: translate(8px,0);}
    30%{transform: translate(-8px,0);}
    40%{transform: translate(6px,0);}
    50%{transform: translate(-6px,0);}
    60%{transform: translate(4px,0);}
    70%{transform: translate(-4px,0);}
    80%{transform: translate(2px,0);}
    90%{transform: translate(-2px,0);}
    100%{transform: translate(1px,-2px);}
}

*{
    font-family: 'Electrolize', sans-serif;
}

html, body{
    height: 100%;
}

body{
    background-color:linear-gradient(45deg, rgb(255, 255, 255), rgb(226, 224, 224));
    min-width:450px;
}

.badAnswer{
    animation: buzzAnimation 1s ease 0s 1 ;
}

h1{
    text-align: center;
    position: relative;
    z-index: 2;
}

.container{
    margin: 100px auto;
    width:400px;
    height:400px;
    display:flex;
    flex-wrap: wrap;
    position:relative;
}

.square{
    width:200px;
    height:200px;
}

#play, #sequenceLength{
    position:absolute;
    z-index:5;
    left:50%;
    font-size: 1.6em;
    
}

#play{
    width:140px;
    height:140px;
    background:black;
    top:50%;
    transform:translate(-50%,-50%) ;
    border-radius:50%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sequenceLength{
    top:60%;
    transform:translate(-50%,-50%) ;
    color:white;
    pointer-events: none; 
}

#play > div, #sequenceLength > div{
    font-family: 'Press Start 2P';
}

#button1{
    background-color:rgba(255, 255, 0, 1);
    border-top-left-radius: 100%;
}

#button2{
    background-color:rgba(0, 0, 255, 1);
    border-top-right-radius: 100%;
}

#button3{
    background-color: rgba(255, 0, 0, 1);
    border-bottom-left-radius: 100%;
}

#button4{
    background-color: rgba(0, 128, 0,1);
    border-bottom-right-radius: 100%;
}

h2{
    text-align: center;
}

#circle{
    border:20px solid rgb(0, 0, 0);
    width:395px;
    height:395px;
    position:absolute;
    border-radius: 100%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    pointer-events: none; 
} 

.bar{
    width:10px;
    height:200px;
    background:black;
    position:absolute;
    left: calc(50% - 5px);
    transform-origin: bottom;
}

.bar2{
    transform: rotate(90deg);
}

.bar3{
    transform: rotate(180deg);
}

.bar4{
    transform: rotate(270deg);
}


.button{
    margin:0 auto;
    font-weight: 800;
    font-size:2em;
    padding:10px;
    width:300px;
    text-align: center;
    border-radius: 2em;
    box-shadow: 1px 1px 10px grey;
}
.buttons{
    display: flex;
    justify-content: space-around;
    width:80%;
    margin:0 auto;
}

#reset{
    background:grey;
    background: linear-gradient(-20deg, rgb(184, 184, 184), rgb(141, 141, 141));
    transition: all 0.5 ease-out;
}

#reset:active{
    transform: scale(1.05);
}

.waitingIndicator{
    background-color: white;
    /* border: 1px solid rgb(116, 116, 116); */
}

.readIndicator{
    background-color: red;
    color:white;
    font-weight: 800;
}

.enterIndicator{
    background-color: orange;
    font-weight: 800;
}

@media (max-width:500px) {
    .buttons{
        flex-direction: column;
    }
}
